{% extends 'index.html' %}
{% block content %}
    <div class="d-inline-flex justify-content-start align-items-center">
        <a href="{{ url_for('dashboard') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
        </a>
        <p style="flex-grow: 1; text-align: center; align-items: center;">{{ action|title }} Overview</p>
    </div>
{% if action == 'sold' and data_sent|length == 0 %}
        <p>No History</p>
{% elif action == 'debt' and quantity|length == 0 and price|length == 0 %}
        <p>No Users Debt</p>
{% elif action == 'received' and data_sent is none %}
        <p>No History</p>
{% else %}
<div class="table-responsive-md" style="height: 100vh; position: relative;">
    <table class="table table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            {% if action == 'sold' or action == 'received' %}
                <th class="text-center" scope="col">PRODUCT</th>
                <th class="text-center" scope="col">QUANTITY</th>
                <!-- <th class="text-center" scope="col">PRICE</th> -->
                <th class="text-center" scope="col">DATE</th>
            {% else %}
                <th class="text-center" scope="col">USER</th>
                <th class="text-center" scope="col">QUANTITY</th>
                <th class="text-center" scope="col">PRICE</th>
                <th class="text-center" scope="col">VIEW</th>
            {% endif %}
        </tr>
    </thead>
    <tbody class="text-center table-group-divider">
        {% if action == 'debt' %}
            {% for details in data_sent %}
                {% if details.Data == none %}
                {% else %}
                    <tr>
                        <td class="text-start p-2">{{ details.user }}</td>
                        <td class="text-center p-2">{{ quantity.get(details.user, 0) }}</td>
                        <td class="text-center p-2">{{ price.get(details.user, 0) }}</td>
                        <td class="text-center p-2"><button class="btn-success btn-sm" id="viewDebt">VIEW</button></td>
                        <div id="overlay_debtview" class="overlay">
                            <div id="popupFormDebtView" class="form-container p-1">
                                <button id="debtViewUserCloseBtn" class="close-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                      </svg>
                                </button>
                                <h2 style="text-decoration: underline;">User Data</h2>
                                <ul>
                                    <li>{{ details.user }}</li>
                                    {% for detail in details.Data %}
                                        <p>Product Name: {{ detail.product_name }}</p>
                                        <p>Total Quantity: {{ detail.quantity }}</p>
                                        <p>Total Price: {{ detail.price }}</p>
                                        <hr class="m-1">
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- <div id="overlay_debtview" class="overlay">
                            <div id="popupFormDebtView" class="form-container p-1">
                                <button id="debtViewUserCloseBtn" class="close-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                      </svg>
                                </button>
                                <h2 style="text-decoration: underline;">User Data</h2>
                                <ul>
                                    <li>{{ details.user }}</li>
                                    {% for detail in details.Data %}
                                        <p>Product Name: {{ detail.product_name }}</p>
                                        <p>Total Quantity: {{ detail.quantity }}</p>
                                        <p>Total Price: {{ detail.price }}</p>
                                        <hr class="m-1">
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> -->
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if action == 'received' %}
                    {% for details in data_sent %}
                        {% for detail in details.transactions %}
                            <tr>
                                <td class="text-start p-2">{{ detail.product_name }}</td>
                                <td class="text-center p-2">{{ detail.total_quantity_added }}</td>
                                <!-- <td class="text-center p-2">{{ detail.total_product_price }}</td> -->
                                <td class="text-center p-2">{{ details.issued_date }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    {% for key, details in data_sent.items() %}
                        {% for keyNew, details in details.items() %}
                            <tr>
                                <td class="text-start p-2">{{ keyNew}}</td>
                                <td class="text-center p-2">{{ details.quantity }}</td>
                                <!-- <td class="text-center p-2">{{ details.totalPrice }}</td> -->
                                <td class="text-center p-2">{{ key }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
        {% endif %}
    </tbody>
    </table>
</div>
{% endif %}
{% endblock %}