{% extends 'index.html' %}
{% block content %}
<div class="centered-box card">
    {% if connection == True %}
    <div class="card-header login100-form-title p-b-26">
        Connection Error: {{ error_code }}! 
    </div>
    <div class="card-body">
        <span class="p-0 m-0">An error occurred while trying to connect to a remote server</span>
        <p style="color: #dc3545;">ERROR:</p>
        <p class="mt-2">{{ error }}</p>
        <a href="{{ url_for('login') }}" class="btn btn-lg btn-danger m-1">Back To Login</a>
    </div>
    {% else %}
    <div class="card-header login100-form-title p-b-26">
        Error {{ error_code }}! 
    </div>
    <div class="card-body">
        <span class="p-0 m-0">Something went wrong. Please try again.</span>
        <p>{{ error }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}