{% extends 'index.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show flash-messages" role="alert">
  <div class="d-flex align-items-center"> <!-- Make the icon and text flex items -->
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
      </div>
      <div class="ms-2"> <!-- Add margin to separate the icon from the text -->
          {{ message }}
      </div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<div class="d-inline-flex justify-content-start align-items-center">
    <a href="{{ url_for('dashboard') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
    </a>
    <p style="flex-grow: 1; text-align: center; align-items: center;">{{ ct|title}} Overview</p>
</div>
{% if ct == 'users' or ct == 'products' %}
<nav class="navbar my-2" style="background-color: #DCF2F1;">
    <div class="container-fluid" style="background-color: #DCF2F1;">
        {% if ct == 'users' %}
      <form class="d-flex flex-grow-1" role="search">
        {% else %}
        <form class="d-flex flex-grow-1" role="search">
        {% endif %}
        <input class="form-control search mb-0 me-2" name="search" id="search" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
  {% endif %}
<div class="d-inline-flex justify-content-between">
    <p class="mr-auto">{{ ct|title}} ({{ data_sent.metadata.total_data}})</p>
    {% if user_id == 1 %}
    {% if ct == 'users' %}
    <a href="#" id="createUserBtn">Add New
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </a>
    <div id="overlay_create" class="overlay">
        <div id="popupFormCreate" class="form-container">
          <button id="createCloseButton" class="close-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
          </button>
          <form action="{{ url_for('create_user') }}" method="POST" autocomplete="off">
            <h2 style="text-decoration: underline;">Create User</h2>
            <div class="form-group form-floating">
                <input type="text" id="username" name="username" required class="form-control">
                <label for="username">Username</label>
            </div>
            <div class="form-group form-floating">
                <input type="email" id="email" name="email" required class="form-control">
                <label for="email">Email</label>
            </div>
            <div class="form-group form-floating">
                <input type="tel" id="phone" name="phone" required class="form-control">
              <label for="phone">Phone Number</label>
            </div>
            <div class="form-group form-floating">
                <input type="text" id="address" name="address" required class="form-control">
              <label for="address">Address</label>
            </div>
            <button class="btn btn-success text-uppercase" id="submitButton" type="submit">
                Create User
            </button>
          </form>
      </div>
        </div>
    {% endif %}
    {% if ct == 'products' %}
    <a href="#" id="newProduct">Add New
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
    </a>
    <div id="overlay_product" class="overlay">
        <div id="popupFormProduct" class="form-container">
            <button id="productCloseButton" class="close-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
            <h2 style="text-decoration: underline;">Create Product</h2>
            <form id="contactForm" name="sentMessage" action="{{ url_for('create_product') }}" method="post" autocomplete="off">
                <div class="form-group form-floating">
                    <input class="form-control" id="product_name" name="product_name" type="text" placeholder="Example Product" required/>
                    <label for="product_name">Product Name</label>
                </div>
                <div class="form-group form-floating">
                    <input class="form-control" id="unit_price" name="unit_price" type="number" name="quantity" min="1" placeholder="300" required/>
                    <label for="unit_price">Unit Price</label>
                </div>
                <div class="form-group form-floating">
                    <input class="form-control" id="packsize" name="packsize" type="text" placeholder="50 Testkit" required/>
                    <label for="packsize">Packsize</label>
                </div>
                <br/>
                <button class="btn btn-success text-uppercase" id="submitButton" type="submit">
                  Create Product
                </button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
<div>
    {% if ct == 'users' %}
    {% if data_sent.data is none %}
    <p>No Users Yet</p>
    {% else %}
    {% for data in data_sent.data if not data.id == user_id %}
    <a href="{{ url_for('get_user', id=data.id) }}" class="d-flex justify-content-between list--container p-3 mb-3">
        <div class="d-inline-flex justify-content-between">
            <div>
                <img src="../static/images/random_image.png" alt="Profile" class="profile-photo">
            </div>
            <div>
                <p style="font-size: 18px; font-weight: 500;color: black;">{{ data.username }}</p>
                <p style="font-size: 12px;"> {{ data.email }}</p>
            </div>
        </div>
        <p style="overflow: hidden; white-space: nowrap;">{{ data.address }}</p>
    </a>
    {% endfor %}
    <div class="d-inline-flex justify-content-between w-100">
        {% if data_sent.metadata.current_page > 1 %}
        <a class="btn" href="{{ url_for('list_users', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% endif %}
    
    {% if data_sent.metadata.current_page < data_sent.metadata.total_pages %}
        <a class="btn" href="{{ url_for('list_users', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% endif %}
    </div>
    {% endif %}
    {% elif ct == 'products' %}
    {% if data_sent.data is none %}
    <p>No Products Yet</p>
    {% else %}
    {% for data in data_sent.data %}
    <a href="#" class="d-flex justify-content-around mb-3 p-3 editProduct" data-productid="{{ data.product_id }}" style="text-decoration: none; color: black;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);background-color: #fff;align-items: center;border-radius: 12%;">
        <div class="new_data">
            <div>
                <p style="font-size: 18px; font-weight: 500;color: black;">{{ data.product_name }}</p>
                <p style="font-size: 12px;"> {{ data.packsize }}</p>
            </div>
        </div>
        <p>{{ data.unit_price }} Ksh</p>
    </a>
    {% if user_id == 1 %}
    <div id="overlay_productedit" class="overlay">
        <div id="popupFormProductedit" class="form-container">
            <button id="productCloseButtonedit" class="close-button" data-productid="{{ data.product_id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
            <h2 style="text-decoration: underline;">Edit Product</h2>
            <form id="contactForm" name="sentMessage" action="{{ url_for('edit_product', id=data.product_id) }}" method="post" autocomplete="off">
                <div class="form-group form-floating">
                    <input class="form-control" id="product_name" name="product_name" type="text" value="{{ data.product_name }}" placeholder="Example Product" required/>
                    <label for="product_name">Product Name</label>
                </div>
                <div class="form-group form-floating">
                    <input class="form-control" id="unit_price" name="unit_price" type="number" name="quantity" min="1" value="{{ data.unit_price }}" placeholder="300" required/>
                    <label for="unit_price">Unit Price</label>
                </div>
                <div class="form-group form-floating">
                    <input class="form-control" id="packsize" name="packsize" type="text" value="{{ data.packsize }}" placeholder="50 Testkit" required/>
                    <label for="packsize">Packsize</label>
                </div>
                <br/>
                <button class="btn btn-success text-uppercase" id="submitButton" type="submit">
                  Edit Product
                </button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="d-inline-flex justify-content-between w-100">
        {% if data_sent.metadata.current_page > 1 %}
    <a class="btn" href="{{ url_for('list_products', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% endif %}

    {% if data_sent.metadata.current_page < data_sent.metadata.total_pages %}
        <a class="btn" href="{{ url_for('list_products', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% endif %}
    </div>
    {% endif %}
    {% elif ct == 'receipts' %}
    {% if data_sent.data is none %}
    <p>No Receipts Yet</p>
    {% else %}
    {% for data in data_sent.data %}
    <a href="#" id="viewReceipt" class="d-flex justify-content-between list--container mb-3 p-3">
        <div class="new_data">
            <div>
                <p style="font-size: 18px; font-weight: 500;color: black;">{{ data.user_receipt_username }}</p>
                <p style="font-size: 12px;"> RCPT - {{ data.receipt_number }} </p>
            </div>
        </div>
        <p style="overflow: hidden; white-space: nowrap;">{{ data.receipt_create_time }}</p>
    </a>
    <div id="overlay_receiptview" class="overlay">
        <div id="popupFormReceiptView" class="form-container p-1">
            <button id="receiptViewCloseBtn" class="close-button" data-productid="{{ data.product_id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
            <h2 style="text-decoration: underline;">Receipt Data</h2>
            <ul>
                {% for detail in data.receipt_data %}
                {% if detail.user_contact %}
                <p>{{ data.user_receipt_username }}</p>
                <p>{{ data.receipt_number }}</p>
                <p>{{ data.receipt_create_time }}</p>
                {% else %}
                <li>{{ detail.productName }} - {{ detail.productQuantity }} - {{ detail.totalBill }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <a href="{{ url_for('receiptDownload', id_param=data.receipt_number) }}" target="_blank" class="btn btn-success text-uppercase m-2" id="submitButton" style="text-decoration: none;" type="submit">
                Download Receipt
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="d-inline-flex justify-content-between w-100">
        {% if data_sent.metadata.current_page > 1 %}
        <a class="btn" href="{{ url_for('list_receipts', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
        {% endif %}
    
        {% if data_sent.metadata.current_page < data_sent.metadata.total_pages %}
            <a class="btn" href="{{ url_for('list_receipts', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
    {% else %}
    {% if data_sent.data is none %}
    <p>No Invoice Yet</p>
    {% else %}
    {% for data in data_sent.data %}
    <a href="#" id="viewInvoice" class="d-flex justify-content-between list--container mb-3 p-3">
        <div class="new_data">
            <div>
                <p style="font-size: 18px; font-weight: 500;color: black;">{{ data.user_invoice_username }}</p>
                <p style="font-size: 12px;">INV - {{ data.invoice_number }}</p>
            </div>
        </div>
        <p style="overflow: hidden; white-space: nowrap;">{{ data.invoice_create_time }}</p>
    </a>
    <div id="overlay_invoiceview" class="overlay">
        <div id="popupFormInvoiceView" class="form-container p-1">
            <button id="invoiceViewCloseBtn" class="close-button" data-productid="{{ data.product_id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                  </svg>
            </button>
            <h2 style="text-decoration: underline;">Invoice Data</h2>
            <ul>
                {% for detail in data.invoice_data %}
                {% if detail.user_contact %}           
                <p>{{ data.user_invoice_username }}</p>
                <p>{{ data.invoice_number }}</p>
                <p>{{ data.invoice_create_time }}</p>
                {% else %}
                <li>{{ detail.productName }} - {{ detail.productQuantity }} - {{ detail.totalBill }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <a href="{{ url_for('invoiceDownload', id_param=data.invoice_number) }}" class="btn btn-success text-uppercase m-2" id="submitButton" style="text-decoration: none;" type="submit">
                Download Receipt
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="d-inline-flex justify-content-between w-100">
        {% if data_sent.metadata.current_page > 1 %}
        <a class="btn" href="{{ url_for('list_invoices', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
        {% endif %}
    
        {% if data_sent.metadata.current_page < data_sent.metadata.total_pages %}
            <a class="btn" href="{{ url_for('list_invoices', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}