{% extends 'index.html' %}
{% block content %}
<div class="d-inline-flex justify-content-start align-items-center">
    {% if id == 1 %}
        {% if user_id > 1 %}
            <a href="{{ url_for('get_user', id=user_id) }}">
        {% else %}
            <a href="{{ url_for('dashboard') }}">
        {% endif %}
    {% else %}
        <a href="{{ url_for('dashboard') }}">
    {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
    </a>
    <p style="flex-grow: 1; text-align: center; align-items: center;">Transactions Overview</p>
</div>
<!-- {% if user_id == 1 and action == 'all_transactions' or action == 'successful_transactions' or action == 'failed_transactions'%}
<nav class="navbar my-2" style="background-color: #DCF2F1;">
    <div class="container-fluid" style="background-color: #DCF2F1;">
    <form class="d-flex flex-grow-1" id="form" role="search" action="{% if request.endpoint == 'getAllTransactions' %}{{ url_for('search_transactions', search_context='search_all_transactions') }}{% elif request.endpoint == 'getSuccessfulTransactions' %}{{ url_for('search_transactions', search_context='search_successful_transactions') }}{% else %}{{ url_for('search_transactions', search_context='search_failed_transactions') }}{% endif %}" method="POST" autocomplete="off">
            <input class="form-control search mb-0 me-2" name="search" id="search" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </nav>
{% endif %} -->
{% if data_sent.data is none %}
<p>No Transactions</p>
{% else %}
<div class="table-responsive-sm">
<table class="table table-bordered table-sm" style="height: 100vh; position: relative;">
    <thead class="table-dark">
      <tr>
        <!-- <th scope="col">#</th> -->
        {% if user_id == 1 %}
        <th class="text-start" scope="col">USERNAME</th>
        {% else %}
        <th class="text-start" scope="col">TRANSACTION NUMBER</th>
        {% endif %}
        <th class="text-center" scope="col">AMOUNT</th>
        <th class="text-center" scope="col">STATUS</th>
        <th class="text-center" scope="col">CREATED AT</th>
        <th class="text-center" scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody class="text-center table-group-divider">
        {% if user_id == 1 %}
        {% for transaction in data_sent.data %}
        <tr>
            <!-- <th scope="row">2</th> -->
            <td class="text-start p-2">{{ transaction.transaction_owner }}</td>
            <td class="text-center p-2">{{ transaction.amount }}</td>
            <td class="text-center p-2">{{ transaction.status }}</td>
            <td class="text-center p-2">{{ transaction.created_at }}</td>
            <td class="text-center p-2"><button class="btn-success btn-sm" id="viewTransaction">VIEW</button></td>
            <div id="overlay_transactionview" class="overlay">
            <div id="popupFormTransactionView" class="form-container p-1">
                <button id="transactionViewCloseBtn" class="close-button" data-productid="{{ transaction.transaction_id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                      </svg>
                </button>
                <h2 style="text-decoration: underline;">Transaction Data</h2>
                <ul>
                    <p>{{ transaction.transaction_id }}</p>
                    <p>Total: {{ transaction.amount }}</p>
                    <p>Status: {{ transaction.status }}</p>
                    <p>Mpesa Receipt Number: {{ transaction.mpesa_receipt_number }}</p>
                    <p>Phone Number: {{ transaction.phone_number }}</p>
                    <p>{{ transaction.result_description }}</p>
                    <p>{{ transaction.created_at }}</p>
                </ul>
            </div>
        </div>
        </tr>
        {% endfor %}
        {% else %}
        {% for transaction in data_sent.data %}
        <tr>
            <td class="text-start p-2">{{ transaction.transaction_id }}</td>
            <td class="text-center p-2">{{ transaction.amount }}</td>
            <td class="text-center p-2">{{ transaction.status }}</td>
            <td class="text-center p-2">{{ transaction.created_at }}</td>
            <td class="text-center p-2"><button class="btn-success btn-sm" id="viewUserTransaction">VIEW</button></td>
            <div id="overlay_transactionuserview" class="overlay">
                <div id="popupFormUserTransactionView" class="form-container p-1">
                    <button id="transactionViewUserCloseBtn" class="close-button" data-productid="{{ transaction.transaction_id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                    </button>
                    <h2 style="text-decoration: underline;">Transaction Data</h2>
                    <ul>
                        <p>{{ transaction.transaction_id }}</p>
                        <p>Total: {{ transaction.amount }}</p>
                        <p>Status: {{ transaction.status }}</p>
                        <p>Mpesa Receipt Number: {{ transaction.mpesa_receipt_number }}</p>
                        <p>Phone Number: {{ transaction.phone_number }}</p>
                        <p>{{ transaction.result_description }}</p>
                        <p>{{ transaction.created_at }}</p>
                    </ul>
                </div>
            </div>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    {% endif %}
  </table>
</div>
  <div class="d-inline-flex justify-content-between w-100">
    {% if data_sent.metadata.current_page > 1 %}
    {% if action == 'all_transactions'%}
    <a class="btn" href="{{ url_for('getAllTransactions', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% elif action == 'successful_transactions' %}
    <a class="btn" href="{{ url_for('getSuccessfulTransactions', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% elif action == 'failed_transactions' %}
    <a class="btn" href="{{ url_for('getFailedTransactions', page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% elif action == 'user_all_transactions' %}
    <a class="btn" href="{{ url_for('getUserAllTransactions', user_id=user_id, page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% elif action == 'user_successful_transactions' %}
    <a class="btn" href="{{ url_for('getUserSuccessfulTransactions', user_id=user_id, page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% else %}
    <a class="btn" href="{{ url_for('getUserFailedTransactions', user_id=user_id, page_id=data_sent.metadata.current_page - 1) }}">Previous</a>
    {% endif %}
    {% endif %}

    {% if data_sent.metadata.current_page < data_sent.metadata.total_pages %}
    {% if action == 'all_transactions' %}
        <a class="btn" href="{{ url_for('getAllTransactions', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% elif action == 'successful_transactions' %}
    <a class="btn" href="{{ url_for('getSuccessfulTransactions', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% elif action == 'failed_transactions' %}
    <a class="btn" href="{{ url_for('getFailedTransactions', page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% elif action == 'user_all_transactions' %}
    <a class="btn" href="{{ url_for('getUserAllTransactions', user_id=user_id, page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% elif action == 'user_successful_transactions' %}
    <a class="btn" href="{{ url_for('getUserSuccessfulTransactions', user_id=user_id, page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% else %}
    <a class="btn" href="{{ url_for('getUserFailedTransactions', user_id=user_id, page_id=data_sent.metadata.current_page + 1) }}">Next</a>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
