{% extends 'index.html' %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div role="alert" class="alert alert-dismissible fade show flash-messages {{ 'alert-success' if category == 'success' else 'alert-danger' }}">
  <div class="d-flex align-items-center"> <!-- Make the icon and text flex items -->
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
      </div>
      <div class="ms-2"> <!-- Add margin to separate the icon from the text -->
          {{ message }}
      </div>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endwith %}
<div class="d-inline-flex align-items-center justify-content-start">
    <!-- change to 1 -->
    {% if user_id == 1 and user.id == 1 %}
    <a href="{{ url_for('dashboard') }}">
    {% elif user_id == 1 %}
    <a href="{{ url_for('list_users') }}">
    {% else %}
    <a href="{{ url_for('dashboard') }}">
    {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
    </a>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: auto;">
            <p style="flex-grow: 1; align-items: center; text-align: center;font-size: large; font-weight: 500;color: black;">{{ user.username|title}}</p>
        {% if user.id != 1 and user_id == 1 %}
            <p style="font-size: 1rem;margin-top: .5rem;color: black;font-weight: 600;"><sup style="position: relative;top: -15px; font-size: .7rem;">KES</sup>{{ invoice_date }}</p>
        {% endif %}
        {% if user.id == 1 and user_id == 1 %}
            <p style="font-size: 1rem;margin-top: .5rem;color: black;font-weight: 600;"><sup style="position: relative;top: -15px; font-size: .7rem;">KES</sup>{{ admin_stock_vale }}</p>
        {% endif %}
    </div>
</div>
<div class="d-flex list--container" style="justify-content: space-between;">
    <div class="d-inline-flex justify-content-start p-3">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="d-inline-flex align-items-center">
                <div>
                    <img src="../static/images/random_image.png" alt="Profile" class="profile-photo">
                </div>
                <div class="ms-3" style="display: flex;flex-direction: column;">
                    <p style="font-size: 18px; font-weight: 500;color: black;">{{ user.username}}</p>
                    <p style="overflow-wrap: break-word; width: 13rem;">{{ user.email }}</p>
                    <p>{{ user.address }}</p>
                    <p>{{ user.phone_number }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <img src="../static/images/piano.jpg" alt="piano" style="width: 100%; height: 100%; border-radius: 10%;">
    </div> -->
</div>
<div class="action-btn-users">
    <!-- {% if ct not in ['receipts', 'invoices'] %} -->
    {% if user.id != 1 and user_id != 1 %}
    <!-- <a href="{{ url_for('getUserAllTransactions', user_id=user.id) }}" class="btn btn-outline-primary" id="nnn">Transactions</a> -->
    <a href="#" class="btn btn-outline-primary" id="reduceClientStock">Sold Products</a>
        <div class="overlay" id="reduceClientStockOverlay">
            <div class="form-container p-1" id="popupformreduceClientStock" style="display: block; padding-inline: .5rem;">
                <button id="close-buttonReduce" class="close-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
                <!-- <p></p> -->
                <button type="button" class="btn btn-sm btn-primary"  style="display: block; margin: auto;" onclick="reduceProduct()">Add</button>
                <form id="productForm" method="POST" action="{{ url_for('reduce_client_stock', id=user.id) }}" style="margin-top: 2rem;" autocomplete="off">
                    <div id="stockList" class="d-flex flex-column form-group form-floating m-1 p-1" style="overflow: hidden; row-gap: .25rem;">
                        <div class="d-flex">
                            <select class="product me-1" name="products_id">
                                {% if user.stock is none %}
                                <option value="-100">No Products To Sell</option>
                                {% else %}
                                {% for stock in user.stock %}
                                <option value="{{ stock.productID }}">{{ stock.productName }}:{{ stock.productQuantity }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <input type="number" class="quantity" name="quantities" id="quantities" placeholder="Quantity" style="width: auto;" required>
                            <!-- <input type="number" class="quantity" id="amount" name="amount" placeholder="Enter Amount To Pay (Ksh)" required style="width: 100%;border: 1px solid black;padding: .5rem;"> -->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="display: block; margin-inline: auto;">Submit</button>
                </form>
            </div>
        </div>
        <!-- <div class="overlay" id="waitOverlay">
            <div class="form-container d-flex flex-column justify-content-center align-items-center p-4 rounded" id="popupformWait">
                <p>Please wait to enter M-PESA PIN</p>
                <button id="close-buttonWait" class="btn btn-success">close</button>
            </div>
        </div> -->
    
    {% endif %}
    <!-- {% endif %} -->
    <a href="{{ url_for('get_user', id=user.id) }}" class="btn btn-outline-primary {% if request.endpoint == 'get_user' %}active{% endif %}">Products</a>
    {% if user.id == 1 %}
    {% else %}
    <a href="{{ url_for('get_user_invoices', id=user.id) }}" class="btn btn-outline-primary {% if request.endpoint == 'get_user_invoices' %}active{% endif %}">Invoices</a>
    <a href="{{ url_for('get_user_receipts', id=user.id) }}" class="btn btn-outline-primary {% if request.endpoint == 'get_user_receipts' %}active{% endif %}">Receipts</a>
    <a href="{{ url_for('statement_download', id=user.id) }}" class="btn btn-outline-primary">Download Statement</a>
    {% endif %}
    <!-- change to 1 -->
    {% if user_id == 1 %}
    {% if user.id != 1 %}
    <a href="{{ url_for('getUserAllTransactions', user_id=user.id) }}" class="btn btn-outline-primary" id="nnn">User Transactions</a>
    <a href="#" class="btn btn-outline-primary" id="addClientStockBtnnnnnnnnn">Add User Stock</a>
        <div class="overlay" id="addClientStockOverlay">
            <div class="form-container p-1" id="popupformAddClientStock" style="display: block; padding-inline: .5rem;">
                <button name="close-button" id="close-btnnnn" class="close-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-sm btn-primary" id="add_input_adding" style="display: block; margin: auto;">Add</button>
                <form id="productForm" method="POST" action="{{ url_for('add_client_stock', id=user.id) }}" autocomplete="off">
                    <input type="date" id="invoiceDate" class="quantity me-5" name="invoiceDate" placeholder="Quantity" style="display: block; width: 70%; margin-block: .5rem; margin-inline: auto; border: 1px solid black; padding: .25rem;" required>
                    <div id="productList" class="d-flex flex-column form-group form-floating m-1 p-1" style="overflow: hidden; row-gap: .25rem;">
                        <div class="d-flex" style="overflow-x: auto;">
                            <select class="product me-1" name="products_id" id="products_id">
                                {% if admin.stock is none %}
                                    <option value="-100">No Products To Sell</option>
                                {% else %}
                                    {% for product in admin.stock %}
                                        <option value="{{ product.productID }}">{{ product.productName }}:{{ product.productQuantity }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <input type="number" class="quantity" name="quantities" id="quantities" placeholder="Quantity" style="width: auto;" required>
                            <!-- <label for="quantities">Quantity</label> -->
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="display: block; margin-inline: auto;">Submit</button>
                </form>
            </div>
        </div>
        <a href="{{ url_for('reduce_client_stock_by_admin', id=user.id) }}" class="btn btn-outline-primary" id="">3rd Party Payments</a>
        {% endif %}
    {% if user.id != 1 %}
    <a href="#" class="btn btn-outline-primary" id="editButton">Edit User Profile</a>
    {% else %}
    <a href="#" class="btn btn-outline-primary" id="editButton">Edit Profile</a>
    <a href="{{ url_for('purchase_orders') }}" class="btn btn-outline-primary {% if request.endpoint == 'purchase_orders' %}active{% endif %}" id="">Purchase Orders</a>
    <a href="#" class="btn btn-outline-primary" id="reportButton">Reports</a>
    <div class="overlay" id="reportOverlay">
        <div class="form-container p-1" id="popupformReport" style="display: block; padding-inline: .5rem;">
            <button name="close-button" id="close-btnnnn-report" class="close-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </button>
            <form id="productForm" method="POST" action="{{ url_for('report_download') }}" autocomplete="off">
                <div style="display: flex; justify-content: space-around; align-items: center; margin-top: 1.5rem;">
                    <input type="date" id="from_date" name="from_date" required style="margin-block: .5rem; border: 1px solid black; padding: .25rem;">
                    <p>TO</p>
                    <input type="date" id="to_date" name="to_date" required style="margin-block: .5rem; border: 1px solid black; padding: .25rem;">
                </div>
                <div id="productList" class="d-flex flex-column form-group form-floating m-1 p-1" style="overflow: hidden; row-gap: .25rem;">
                    <div style="align-self: center;">
                        <select class="product me-1" name="products_id" id="products_id" required>
                                <option value="0">User Based Report</option>
                                <option value="1">Admin Based Report</option>
                        </select>
                    </div>
                </div>
                <button type="submit" id="reportDownload" class="btn btn-primary" style="display: block; margin-inline: auto;">Download</button>
            </form>
        </div>
    </div>
    {% endif %}
    <div id="overlayedit" class="overlay">
        <div id="popupFormEdit" class="form-container">
          <button id="closeeditButton" class="close-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
          </button>
          <form action="{{ url_for('manage_user', id=user.id) }}" method="POST">
            <h2>Edit Profile</h2>
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input class="form-control" type="tel" id="phone" name="phone" value="{{ user.phone_number }}" required>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input class="form-control" type="text" id="address" name="address" value="{{ user.address }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
      </div>
        </div>
        {% if user.id == 1 %}
        {% else %}
    <a href="#" class="btn btn-outline-primary delete-button">Delete</a>
    <div id="overlay_delete" class="overlay">
        <div class="delete-form-container form-container">
            <div class="delete-form">
                <button id="closingBtn" class="close-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                      </svg>
                </button>
                <h2>Delete User</h2>
                <p>Are you sure you want to delete the user?</p>
                <p>Input: {{ user.username|lower }}</p>
                <form action="{{ url_for('delete_user', id=user.id) }}" method="post">
                    <div class="form-group">
                        <label for="delete-username">Enter username to confirm:</label>
                        <input class="form-control" type="text" id="delete-username" name="delete-username" required autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% if ct == 'user' %}
{% if user.stock is none %}
<p>No Products Yet</p>
{% else %}
{% for data in user.stock %}
    {% if (data.productQuantity) < 4 %}
        <div class="d-flex justify-content-between list--container mb-3 p-3 row" style="background-color: #F7D060;">
    {% else %}
        <div class="d-flex justify-content-between list--container mb-3 p-3 row">
    {% endif %}
        <div style="flex-direction: column;">
            <p style="font-size: 18px; font-weight: 500;"> {{ data.productName }}</p>
            <p style="font-size: 12px;"> Quantity: {{ data.productQuantity }}</p>
        </div>
        {% if user_id == 1 and user.id == 1 %}
        <a href="#" class="btn btn-primary btn-add-stock" data-product-name="{{ data.productName }}" data-product-id="{{ data.productID }}">Add Stock</a>
        <div id="overlay_add" class="overlay">
            <div id="add-form-container" class="form-container">
                <div class="delete-form">
                    <button id="addingBtn" class="close-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                    </button>
                    <!-- <h2>Add {{ data.productName }} Stock</h2> -->
                    <form action="{{ url_for('add_admin_stock') }}" method="post">
                        <div class="form-group">
                            <span id="productName"></span>
                            <input type="hidden" id="productID" name="productID" value="{{ data.productID }}">
                            <label for="quantity">Enter Quantity To Add</label>
                            <input class="form-control" type="number" id="quantity" name="quantity" required autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% endif %}
{% elif ct == 'invoice' %}
{% if invoice.data is none %}
<p>No Invoices Yet</p>
{% else %}
{% for data in invoice.data %}
    <div class="d-flex justify-content-between list--container row mb-3 p-3">
        <p style="font-size: 18px; font-weight: 500;">Invoice Number: INV - {{ data.invoice_number }}</p>
        <a href="{{ url_for('invoiceDownload', id_param=data.invoice_number) }}" class="btn btn-sm btn-outline-success">Download</a>
    </div>
{% endfor %}
<div class="d-inline-flex justify-content-between w-100">
    {% if invoice.metadata.current_page > 1 %}
    <a class="btn" href="{{ url_for('get_user_invoices', id=user.id, page_id=invoice.metadata.current_page - 1) }}">Previous</a>
{% endif %}

{% if invoice.metadata.current_page < invoice.metadata.total_pages %}
    <a class="btn" href="{{ url_for('get_user_invoices', id=user.id, page_id=invoice.metadata.current_page + 1) }}">Next</a>
{% endif %}
</div>
{% endif %}
{% elif ct == 'orders' %}
<a href="{{ url_for('create_purchase_order') }}" id="createUserBtn">Create Purchase Order
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </svg>
</a>
{% if order.data is none %}
<p>No Purchase Orders Yet</p>
{% else %}
{% for data in order.data %}
<a href="#" id="viewReceipt" class="d-flex justify-content-between list--container mb-3 p-3">
    <div class="new_data">
        <div>
            <p style="font-size: 18px; font-weight: 500;color: black;">{{ data.supplier_name }}</p>
            <p style="font-size: 12px;">LPO NO - {{ data.id }} </p>
        </div>
    </div>
    <p style="overflow: auto; white-space: nowrap;">{{ data.created_at[:10] }}</p>
</a>
<div id="overlay_receiptview" class="overlay">
    <div id="popupFormReceiptView" class="form-container p-1">
        <button id="receiptViewCloseBtn" class="close-button" data-productid="{{ data.product_id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
        </button>
        <h2 style="text-decoration: underline;">Purchase Order</h2>
        <ul style="padding-right: 1.5rem;">
                <li style="opacity: .7;">{{ data.id }}</li>
                <li style="opacity: .7;">{{ data.supplier_name }}</li>
                <li style="opacity: .7;">{{ data.supplier_addres }}</li>
                
            {% for detail in data.order_data %}
                <li>Product Name: {{ detail.product_name }}</li>
                <li>Quantity: {{ detail.quantity }}</li>
                <li>Unit Price: {{ detail.unit_price }}</li>
                <hr style="margin-block: .25rem; color: gray; opacity: .8;">
            {% endfor %}
                <li>{{ data.created_at[:10] }}</li>
        </ul>
        <div style="display: flex; justify-content: space-evenly;">
            <a href="{{ url_for('purchaseOrderDownload', id_param=data.id) }}" target="_blank" class="btn btn-success text-uppercase m-2" id="submitButton" style="text-decoration: none;" type="submit">
                Download
            </a>
            <a href="{{ url_for('deletePurchaseOrder', id_param=data.id) }}" target="_blank" class="btn btn-danger text-uppercase m-2" id="submitButton" style="text-decoration: none;" type="submit">
                Delete
            </a>
        </div>
    </div>
</div>
{% endfor %}
<div class="d-inline-flex justify-content-between w-100">
    {% if order.metadata.current_page > 1 %}
        <a class="btn" href="{{ url_for('purchase_orders',  page_id=order.metadata.current_page - 1) }}">Previous</a>
    {% endif %}

    {% if order.metadata.current_page < order.metadata.total_pages %}
        <a class="btn" href="{{ url_for('purchase_orders',  page_id=order.metadata.current_page + 1) }}">Next</a>
    {% endif %}
</div>
{% endif %}
{% else %}
{% if receipt.data is none %}
<p>No Receipts Yet</p>
{% else %}
{% for data in receipt.data %}
    <div class="d-flex justify-content-between row list--container mb-3 p-3">
        <p style="font-size: 18px; font-weight: 500;">Receipt Number: RCPT - {{ data.receipt_number }}</p>
        <a href="{{ url_for('receiptDownload', id_param=data.receipt_number) }}" class="btn btn-sm btn-outline-success">Download</a>
    </div>
{% endfor %}
<div class="d-inline-flex justify-content-between w-100">
    {% if receipt.metadata.current_page > 1 %}
    <a class="btn" href="{{ url_for('get_user_receipts', id=user.id, page_id=receipt.metadata.current_page - 1) }}">Previous</a>
{% endif %}

{% if receipt.metadata.current_page < receipt.metadata.total_pages %}
    <a class="btn" href="{{ url_for('get_user_receipts', id=user.id, page_id=receipt.metadata.current_page + 1) }}">Next</a>
{% endif %}
</div>
{% endif %}
{% endif %}
</div>
<script>
    let btnToAdd = document.getElementById("add_input_adding")

    if (btnToAdd) {
        btnToAdd.addEventListener("click", () => {
            addProduct();
            console.log("Button clicked");
        });
    }

    function addProduct() {
        // Create new product selection and quantity input elements
        var newProduct = document.createElement('select');
        newProduct.className = 'product me-1';
        newProduct.name = 'products_id';
        // newProduct.innerHTML = document.querySelector('.product').innerHTML;
        var originalOptions = document.querySelector('.product').options;
        for (var i = 0; i < originalOptions.length; i++) {
            var option = document.createElement('option');
            option.value = originalOptions[i].value;
            option.text = originalOptions[i].text;
            newProduct.add(option);
        }

        var newQuantity = document.createElement('input');
        newQuantity.style.width = 'auto';
        newQuantity.type = 'number';
        newQuantity.className = 'quantity';
        newQuantity.name = 'quantities';
        newQuantity.placeholder = 'Quantity';
        newQuantity.required = true;

        var newProductDiv = document.createElement('div');
        newProductDiv.className = 'd-flex';
        newProductDiv.style.overflowX = 'auto';
        newProductDiv.appendChild(newProduct);
        newProductDiv.appendChild(newQuantity);

        document.getElementById('productList').appendChild(newProductDiv);
    }
</script>
<script>
    function reduceProduct() {

        var newStock = document.createElement('select');
        newStock.name = 'products_id';
        newStock.className = 'product me-1';

        var originalOptions = document.querySelector('.product').options;
        for (var i = 0; i < originalOptions.length; i++) {
            var option = document.createElement('option');
            option.value = originalOptions[i].value;
            option.text = originalOptions[i].text;
            newStock.add(option);
        }

        var newQuantity = document.createElement('input');
        newQuantity.style.width = 'auto';
        newQuantity.type = 'number';
        newQuantity.className = 'quantity';
        newQuantity.name = 'quantities';
        newQuantity.placeholder = 'Quantity';
        newQuantity.required = true;

        var newStockDiv = document.createElement('div');
        newStockDiv.className = 'd-flex';
        newStockDiv.appendChild(newStock);
        newStockDiv.appendChild(newQuantity);

        document.getElementById('stockList').appendChild(newStockDiv);
    }
</script>
{% endblock %}