body, html {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    justify-content: center;
    /* background-color: #BBC3A4; */
    background-color: #DCF2F1;
    padding: 20px 25px 20px 25px;
}

.top__info {
    display: flex;
    justify-content: space-between;
}
.top__info_data {
    display: flex;
    align-items: center;
}

.overview-title {
    flex-grow: 1;
    text-align: center;
    align-items: center;
}
.bottom__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1.0rem;
    flex-basis: 50%;
}
.my__card {
    border: 1px solid black;
    width: 60px;
    border-radius: 18%;
    text-align: start;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.my__card-middle {
    border: 1px solid black;
    border-radius: 8%;
    text-align: start;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.btn {
    background-color: #DCF2F1; /* Use the background color */
    color: #333; /* Text color */
    border: 1px solid #DCF2F1; /* Border color */
    padding: 10px 20px; /* Padding */
    border: 1px solid #01524e;
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline-block */
    transition: background-color 0.3s ease; /* Smooth transition */
  }

.btn.active {
    background-color: #01524e; /* Change to your preferred highlight color */
    color: #fff;
}

  .btn:hover {
    background-color: #bfebeb; /* Lighter shade on hover */
  }
/* .btn:hover {
    color: #fff;
    background-color: #01524e;
    border-color: #01524e;
    text-decoration: none; 
} */

.btn-outline-success {
    color: black;
    background-color: transparent;
    border-color: black;
}

.btn-outline-success:hover {
    color: black;
    background-color: #01524e;
    border-color: #01524e;
}

.user-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.data {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    /* border-radius: 8%; */
    text-align: start;
    /* padding: 5px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    flex-grow: 1;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    display: none; /* Initially hidden */
  }

  .overlay_delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; /* Initially hidden */
  }
  
  .form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none; /* Initially hidden */
    z-index: 1000;
    max-width: 90%;
  }
  
  .form-container h2 {
    text-align: center;
  }

  .delete-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 20px;
    border-radius: 10px;
    display: none; /* Hidden by default */
    z-index: 1000;
}

form {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.delete-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.delete-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}
  
  .form-group {
    margin-bottom: 15px;
  }

  input[type="email"],
input[type="tel"],
input[type="text"] {
  width: calc(100% - 20px); /* Adjust input width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

.new_data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.uptop {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #dff3bd; /* Optionally, you can set the background color */
    z-index: 1000; /* Ensure it appears above other content */
}

.downbelow {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}